<!DOCTYPE html>
<html>
<head>
    <%- include layouts/head.ejs%>
    <script type="text/javascript" src="/javascript/jsapi.js"></script>
    <script type="text/javascript">
        var uniqueApi=function(){
            var valoare = $('input[name="sname"]').val();
            var testUnique = function(){
                $.ajax({
                    url:"/api/uniqueApi",
                    type : "POST",
                    data : {name:valoare},
                    dataType : "json",
                    success: function(rasp){
                        console.log(rasp);
                        if(rasp){
                            if(rasp.unique){
                                if(rasp.unique==true){
                                    $('label[for="sname"]').css("color","green");
                                }
                            }else{
                                $('label[for="sname"]').css("color","red");
                            }
                        }
                    },
                    error:function(){
                        console.log("error");
                    }
                });
            }
            testUnique();
        }
    </script>
</head>
<body>
    <%- include layouts/headerControlPanelElements.ejs%>
<main>
    <p id="subTitle">Add Api (Ticker)</p>
    <div id="allAdiAppi">
        <div id="divAddApiForm">
            <form id="formAddApi" action="./addApi" autocomplete="on"  method="post">
                <div id="divForm">
                    <div id="labels">
                        <label class="labelAddApi" for="sname">Name*:</label>
                        <label class="labelAddApi" for="urlTicker">URL*:</label>
                        <label class="labelAddApi" for="digsname">Digital Coin*:</label>
                        <label class="labelAddApi" for="realsname">Real Reference Coin*:</label>
                        <label class="labelAddApi" for="requestTime">Request Time(ms)*:</label>
                        <label class="labelAddApi" for="last">Last*:</label>
                        <label class="labelAddApi" for="bid">Bid:</label>
                        <label class="labelAddApi" for="avg_24h">Avg 24h:</label>
                        <label class="labelAddApi" for="volume">Volume:</label>
                    </div>
                    <div id="inputs">
                        <input class="addApiInputs" type="text" name="sname" value="<%= sname %>" required onchange="uniqueApi()">
                        <input  class="addApiInputs" type="url" name="urlTicker" value="<%= urlTicker %>" required>
                            <button name="parse" id="parse">Parse Api</button>  
                        <input class="addApiInputs" list="digsname" name="digsname" value="<%= digsname %>" required>
                        <datalist id="digsname">
                            <% for(var i=0; i<snames.length; i++) {%>
                                <option value="<%= snames[i].sname %>">
                            <% } %>
                        </datalist>
                        <input class="addApiInputs" list="realsname" name="realsname" value="<%= realsname %>" required>
                        <datalist id="realsname">
                            <% for(var i=0; i<symbols.length; i++) {%>
                                <option value="<%= symbols[i].symbol %>">
                            <% } %>
                        </datalist>
                        <input class="addApiInputs" type="number" step="any" name="requestTime" min ="5000" value="<%= requestTime %>" required>
                        <input class="addApiInputs" type="text" name="last" value="<%= last %>" required>
                        <input class="addApiInputs" type="text" name="bid" value="<%= bid %>">
                        <input class="addApiInputs" type="text" name="avg_24h" value="<%= avg_24h %>">
                        <input class="addApiInputs" type="text" name="volume" value="<%= volume %>">
                    </div>
                </div>      
                <div class="clear"></div>
                <input type="submit" id="submit" value="Submit">
                <p style="color:red">
                    <%= error %>
                </p>
            </form>
        </div>
        <div id="jsonDiv">
            <div id="jsonTitle">DROOL JSON Parser</div>
            <div id="jsonParser">    
                <pre id = "prejSON">
                </pre>
            </div>
            </div>  
        </div>  
    <div class="clear"></div>    
</main>
    <%- include layouts/footer.ejs%>
</body>
</html>
