<!DOCTYPE html>
<html>
    <%- include layouts/head.ejs%>
<body>
    <%- include layouts/headerControlPanel.ejs%>
<main>
    <p>Add Api(Ticker)</p>
    <form action="./addApi" autocomplete="on"  method="post">
        Name: <input type="text" name="sname" value="<%= sname %>"><br>
        URL: <input type="url" name="urlTicker" value="<%= urlTicker %>">
        <button name="parse" id="parse" >Parse Api</button>
        <br>
        Digital Coin : <input list="digsname" name="digsname" value="<%= digsname %>">
        <datalist id="digsname">
            <% for(var i=0; i<snames.length; i++) {%>
            <option value="<%= snames[i].sname %>">
                <% } %>
        </datalist><br>
        Real Reference Coin: <input list="realsname" name="realsname" value="<%= realsname %>">
        <datalist id="realsname">
            <% for(var i=0; i<symbols.length; i++) {%>
            <option value="<%= symbols[i].symbol %>">
            <% } %>
        </datalist><br>
        Request Time(ms): <input type="number" name="requestTime" value="<%= requestTime %>"><br>
        Last : <input type="text" name="last" value="<%= last %>"><br>
        Bid : <input type="text" name="bid" value="<%= bid %>"><br>
        Avg 24h : <input type="text" name="avg_24h" value="<%= avg_24h %>"><br>
        Volume : <input type="text" name="volume" value="<%= volume %>"><br>
        <p style="color:red">
            <%= error %>
        </p>
        <input type="submit">
    </form>
    <pre style="text-align: left" id = "JSONParser">
        JSONParser
    </pre>
</main>
    <%- include layouts/footer.ejs%>
</body>
</html>
