<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="/javascript/jquery-1.11.0.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/stylemedia.css">
</head>
<body>
<header>
    <p id="title">Drool - Admin Control Panel</p>
    <nav>
        <ul>
            <li>
                <a href="./addDigitalCoin">
                    <p>Add Digital Coin</p>
                </a>
            </li>
            <li>
                <a href="./showDigitalCoins">
                    <p>Show Digital Coins</p>
                </a>
            </li>
            <li>
                <a href="/analysis">
                    <p>Analysis</p>
                </a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <p>Add Digital Coin</p>
    <form action="./addDigitalCoin" autocomplete="on"  method="post">
        Short Name: <input type="text" name="sname" value="<%= sname %>"><br>
        Long Name: <input type="text" name="lname" value="<%= lname %>"><br>
        Page: <input type="url" name="page" value="<%= page %>"><br>
        <p style="color:red">
            <%= error %>
        </p>
        <input type="submit">
    </form>
</main>
<footer><p>Footer</p></footer>
</body>
</html>
