<!DOCTYPE html>
<html>
<%- include layouts/head.ejs%>
<body>
<%- include layouts/headerControlPanel.ejs%>
<main>
    <p>Add Digital Coin</p>
    <form action="./addDigitalCoin" autocomplete="on"  method="post">
        Short Name: <input type="text" name="sname" value="<%= sname %>"><br>
        Long Name: <input type="text" name="lname" value="<%= lname %>"><br>
        Page: <input type="url" name="page" value="<%= page %>"><br>
        <p style="color:red">
            <%= error %>
        </p>
        <input type="submit">
    </form>
</main>
    <%- include layouts/footer.ejs%>
</body>
</html>
