<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/javascript/jquery.datetimepicker.css"/>
        <script type="text/javascript" src="/javascript/jquery-1.11.0.js"></script>
        <script language="javascript" type="text/javascript" src="/javascript/jquery.flot.js"></script>
        <script language="javascript" type="text/javascript" src="/javascript/jquery.flot.time.js"></script>
        <script type="text/javascript" src="/javascript/jquery.datetimepicker.js"></script>
        <script type="text/javascript" src="/javascript/html2canvas.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script type="text/javascript">
            var apiselectat;
            var digitalCoinSelectat;
            var hours;
            var points;
            var monedaRef="";
            var apisGlobal;
            var selectedTime;
            var d;
            function getAllApis(digsname, callback) {
                $.ajax({
                    url: "../api/coins/digital/" + digsname + "/apiTickers",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        var apis = [];
                        for (i = 0; i < data.length; i++) {
                            apis.push({sname : data[i].sname,refCoin:data[i].realsname});
                        }
                        apisGlobal=apis;
                        if(apisGlobal.length!=0){
                            monedaRef=apisGlobal[0].refCoin;
                        }
                        callback(apis)
                        console.log(apis);
                    }
                });
            }
            $(function () {
                d = new Date(Date.now());
                var timeFormated = d.getFullYear()+"/"+('0' +(d.getMonth()+1)).slice(-2)+"/"+('0' + d.getDate()).slice(-2)
                        +" "+('0' + d.getHours()).slice(-2)+":"+('0' + d.getMinutes()).slice(-2);
                $('#datetimepicker').datetimepicker().datetimepicker({value:timeFormated, step:10});
                apiselectat=$("#selectApis option").eq(0).val();
                digitalCoinSelectat=$("#selectDig option").eq(0).val();
                hours=1;
                points=25;
                var wasSelected = false;
                selectedTime=Date.now();
                getAllApis($("#selectDig").val(),function(api){});
                $('#datetimepicker').on('change', function (e) {
                    wasSelected=true;
                    d = new Date(this.value);
                    selectedTime = d.getTime();
                    console.log(selectedTime);
                    update();
                });
                $('#hours').on('change', function (e) {
                    hours=this.value;
                    update();
                });
                $('#points').on('change', function (e) {
                    points=this.value;
                    update();
                });
                $('#selectApis').on('change', function (e) {
                    console.log(this);
                    apiselectat=this.value;
                    monedaRef="";
                    for(i=0;i<apisGlobal.length;i++){
                        if(apisGlobal[i].sname==this.value){
                            monedaRef=apisGlobal[i].refCoin;
                            break;
                        }
                    }
                    update();
                });
                $('#selectDig').on('change', function (e) {
                    digitalCoinSelectat=this.value;
                    apiselectat="";
                    $("#selectApis option").remove()
                    getAllApis($("#selectDig").val(),function(apis){
                        if(apis.length!=0){
                            apiselectat=apis[0].sname;
                            monedaRef=apis[0].refCoin;
                        }
                        for (var i = 0; i < apis.length; i++) {
                            $("#selectApis").append('<option value='+apis[i].sname+'>' + apis[i].sname + '</option>')
                            update();
                        }
                    })
                });
                /*var testPostToken = function(){
                    $.ajax({
                        url:"../../api/generateToken",
                        type : "POST",
                        data : {hours:3},
                        dataType : "json",
                        success: function(rasp){
                            console.log("yey");
                        },
                        error:function(){
                            console.log("error");
                        }
                    });
                }
                testPostToken();
                var testPost = function(){
                    $.ajax({
                    url:"../../api/convert",
                    type : "POST",
                    data : {value:1.421,api1:"btceBTC",api2:"testLTC",currency1:"BTC",currency2:"LTC"},
                    dataType : "json",
                    success: function(rasp){
                       console.log("yey");
                    },
                    error:function(){
                       console.log("error");
                    }
                    });
                }
                testPost();
                var testPost2 = function(){
                    $.ajax({
                        url:"../../api/coins/digital",
                        type : "POST",
                        data : {sname:"DIGNOU",page:"Pag mea",token:"77b2279a4cff34876acb07d0e155acf088db12f0"},
                        dataType : "json",
                        success: function(rasp){
                            console.log("yey");
                        },
                        error:function(){
                            console.log("error");
                        }
                    });
                }
                testPost2();
                var testPUT =function(){
                    $.ajax({
                        url: "../../api/coins/digital/DIGNOU",
                        type: "PUT",
                        data : {sname:"DIGNOU",page:"pagina",token : "77b2279a4cff34876acb07d0e155acf088db12f0"},
                        dataType: "json",
                        success: function(rasp){
                            console.log("yey");
                        },
                        error:function(){
                            console.log("error");
                        }
                    });
                };
                testPUT();
                var testdele =function(){
                    $.ajax({
                        url: "../../api/coins/digital/DIGNOU",
                        type: "DELETE",
                        dataType: "json",
                        data :{
                            token : "77b2279a4cff34876acb07d0e155acf088db12f0"
                        },
                        success: function(rasp){
                            console.log("yey");
                        },
                        error:function(){
                            console.log("error");
                        }
                    });
                };*/
                //testdele();
                /*var testpostAPI =function(){
                    $.ajax({
                        url: "../../api/digital/TESTCOIN/apiTickers",
                        type: "POST",
                        data :
                        {
                            sname:'addApiAPI',
                            urlTicker:'https://api.bitcoinaverage.com/ticker/global/USD/',
                            digsname : 'TESTCOIN',
                            realsname : 'USD',
                            requestTime : 1000,
                            last : 'last'
                        },
                        dataType: "json",
                        success: function(rasp){
                            console.log("yey");
                        },
                        error:function(){
                            console.log("error");
                        }
                    });
                };
                testpostAPI();*/
                /*var testputAPI =function(){
                 $.ajax({
                     url: "../../api/coins/digital/LTC/apiTickers/testLTC",
                     type: "PUT",
                     data :
                     {
                         sname:'testLTC',
                         urlTicker:'https://btc-e.com/api/2/btc_usd/ticker',
                         digsname : 'LTC',
                         realsname : 'USD',
                         requestTime : 60000,
                         last : 'ticker,last',
                         token : "77b2279a4cff34876acb07d0e155acf088db12f0"
                     },
                     dataType: "json",
                     success: function(rasp){
                     console.log("yey");
                     },
                     error:function(){
                     console.log("error");
                     }
                     });
                 };
                testputAPI();*/

                /*var testdeleAPI =function(){
                    $.ajax({
                        url: "../../api/coins/digital/TESTCOIN/apiTickers/addApiAPI",
                        type: "DELETE",
                        dataType: "json",
                        success: function(rasp){
                            console.log("yey");
                        },
                        error:function(){
                            console.log("error");
                        }
                    });
                };
                testdeleAPI();*/
                var updateTimeOut;
                var data = [],
                        totalPoints = 50;
                var updateInterval = 30000;
                var options= {
                    //colors:["#1EC988"],
                    series: {
                        shadowSize: 0
                    },
                    grid: { hoverable: true, clickable: true },
                    yaxis: {
                    },
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    },

                    xaxis: {
                        mode: "time"
                    }

                };
                function onDataReceived(rasp) {
                    if(rasp){
                        data=[];
                        var date=rasp["date"];
                        for(i=0;i<date.length;i++){
                            data.push([new Date(date[i]["date"] + 3*3600*1000).getTime(),date[i]["last"],{url: date[i]["last"]+monedaRef+"  Date: "+ new Date(date[i]["date"]).toString()}]);
                        }
                        $.plot("#placeholder",[{ label: apiselectat, data: data}], options);
                    }
                }

                var previousPoint = null;
                $("#placeholder").bind("plothover", function (event, pos, item) {
                    $("#x").text(pos.x.toFixed(2));
                    $("#y").text(pos.y.toFixed(2));

                    if (item) {

                        if (previousPoint != item.dataIndex) {
                            previousPoint = item.dataIndex;

                            $("#tooltip").remove();

                            showTooltip(item.pageX, item.pageY,
                                    item.series.data[item.dataIndex][2].url.toString());
                        }
                    }
                    else {
                        $("#tooltip").remove();
                        previousPoint = null;
                    }

                });
                function showTooltip(x, y, contents) {
                    $('<div id="tooltip">' + contents + '</div>').css({
                        position: 'absolute',
                        display: 'none',
                        top: y + 5,
                        left: x + 5,
                        border: '1px solid #fdd',
                        padding: '2px',
                        'background-color': '#fee',
                        opacity: 0.80
                    }).appendTo("body").fadeIn(200);
                }

                function update() {
                    if(wasSelected==false){
                        selectedTime=Date.now();
                        d = new Date(Date.now());
                       var timeFormated = d.getFullYear()+"/"+('0' +(d.getMonth()+1)).slice(-2)+"/"+('0' + d.getDate()).slice(-2)
                                +" "+('0' + d.getHours()).slice(-2)+":"+('0' + d.getMinutes()).slice(-2);
                        $('#datetimepicker').datetimepicker({value:timeFormated, step:10});
                    }
                    $.ajax({
                        url: "../api/coins/digital/"+digitalCoinSelectat+"/apiTIckers/"+apiselectat+"/"+"values",
                        data:{
                            hours:hours,
                            numberPoints:points,
                            startTime:selectedTime
                        },
                        type: "GET",
                        dataType: "json",
                        success: onDataReceived
                    });

                }
                update();
                updateTimeID=setInterval(update, updateInterval);
            });
            function clickAhref(){
                var scroolTop = $(window).scrollTop();
                console.log(scroolTop);
                html2canvas($('#placeholder'), {
                    onrendered: function(canvas) {
                        $(window).scrollTop(scroolTop);
                        var img = canvas.toDataURL()
                        $("#download").attr("href", img);
                        $("#download").attr("download", "Drool___"+new Date(Date.now()));
                        $("#download")[0].click();
                    }
                });

            }
           // document.getElementById('download').addEventListener('click', download, false);

        </script>
    </head>
    <body>
    <header>
        <p id="title"><a href="/">Drool (Digital Currency Tool)</a></p>
        <nav>
            <ul>
                <li>
                    <a href="/convertor">
                        <p>Convertor</p>
                    </a>
                </li>
                <li>
                    <a href="/rates">
                        <p>Rates</p>
                    </a>
                </li>
                <li>
                    <a href="/analysis">
                        <p>Analysis</p>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <p id="subTitle">Analysis</p>
        <div id="content">
            <div class="demo-container">
                <div id="placeholder" class="demo-placeholder" style="float:left;width: 700px;"></div>
                <label>Digital Coin:</label>
                <select id ="selectDig" style="float:right;width:150px; background: rgb(224,224,224);">
                    <% for(var i=0; i<digCoins.length; i++) {%>
                    <option value="<%=digCoins[i].sname%>"><%=digCoins[i].sname%></option>
                    <% } %>
                </select>
                <br>
                <label>Api:</label>
                <select id ="selectApis" style="float:right;width:150px; background: rgb(224,224,224);">
                    <% for(var i=0; i<apis.length; i++) {%>
                    <option value="<%=apis[i].sname%>"><%=apis[i].sname%></option>
                    <% } %>
                </select>
                <br>
                <label>Hours:</label>
                <br>
                <input id="hours" style="width: 35px; background: rgb(224,224,224);" type="number" step="1" value="1" min="1" >
                <br>
                <label>Points:</label>
                <br>
                <input id="points" style="width: 35px; background: rgb(224,224,224);" type="number" value="25" min="1"max="50">
                <br>
                <label>Start Date</label>
                <input type="text" size=13 style="background: rgb(224,224,224)" id="datetimepicker"/><br><br>

                <button id="btnDownload" onclick="clickAhref();" style="border: solid 1px black; border-radius: 5px;">Download as image(PNG)</button>
                <a id="download" download="name" title="DownloadImage" style="visibility: hidden">Download as image</a>

            </div>
        </div>
    </main>
    <%- include layouts/footer.ejs%>
    </body>
</html>
