<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="/javascript/jquery-1.11.0.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/stylemedia.css">
    <script type="text/javascript" src="/javascript/datejs.js"></script>
    <script type="text/javascript" src="/javascript/javascript.js"></script>
</head>
<body>
    <%- include layouts/headerUser.ejs%>
<main style="height: 65%">
    <p id="subTitle">Convertor</p>
    <div id="convertor">
        <input placeholder="..." id="input1" type="text" name="val1" size="3">
        <div class="dropdown">
            <label id="search1" title="Select a digital coin"><%= digitalCoins[0] %></label>
            <ul class="menuSearch1">
                <li>
                    <input type="text" id="textField1" placeholder="Search">
                </li>
                <% for(var i=0; i<digitalCoins.length; i++) {%>
                <li><span><%= digitalCoins[i] %></span></li>
                <% } %>
            </ul>
        </div>
        <span id="plus1" title="Select an Api">+</span>
        <span>=</span>
        <input id="input2"  placeholder="..." type="text" name="val2" size="3">
        <div class="dropdown">
            <label id="search2" title="Select a coin">USD</label>
            <ul class="menuSearch2">
                <li>
                    <input type="text" id="textField2" placeholder="Search">
                </li>
                <% for(var i=0; i<realCoins.length; i++) {%>
                <li><span><%= realCoins[i] %></span></li>
                <% } %>
            </ul>
        </div>
        <span id="plus2" title="Select an Api" style="display: none">+</span>
        <div class="clear"></div>
    </div>
</main>
    <%- include layouts/footer.ejs%>
</body>
</html>
