<!DOCTYPE html>
<html>
<head>
    <%- include layouts/head.ejs%>
    <script type="text/javascript" src="/javascript/datejs.js"></script>
    <script type="text/javascript" src="/javascript/javascript.js"></script>
</head>
<body>
    <%- include layouts/headerUser.ejs%>
<main>
    <div id="convertor">
        <input placeholder="VAL" id="input1" type="text" name="val1" size="3">
        <div class="dropdown">
            <label id="search1"><%= digitalCoins[0] %></label>
            <ul class="menuSearch1">
                <% for(var i=0; i<digitalCoins.length; i++) {%>
                <li><span><%= digitalCoins[i] %></span></li>
                <% } %>
            </ul>
        </div>
        <span>=</span>
        <input id="input2" type="text" name="val2" size="3">
        <div class="dropdown">
            <label id="search2">USD</label>
            <ul class="menuSearch2">
                <li>
                    <input type="text" id="textField2" placeholder="Search">
                </li>
                <% for(var i=0; i<realCoins.length; i++) {%>
                <li><span><%= realCoins[i] %></span></li>
                <% } %>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</main>
    <%- include layouts/footer.ejs%>
</body>
</html>
