<!DOCTYPE html>
<html>
<head>
    <%- include layouts/head.ejs%>
</head>
<body>
<%- include layouts/headerControlPanelElements.ejs%>
<main>
    <p>Digital coins</p>
    <% for(var i=0; i<digitalCoins.length; i++) {%>
    <li><span><%= digitalCoins[i]["sname"] %></span><span><%= digitalCoins[i]["lname"] %></span>
        <span><%= digitalCoins[i]["page"] %></span>
    </li>
    <% } %>
</main>
    <%- include layouts/footer.ejs%>
</body>
</html>
