<!DOCTYPE html>
<html>
<head>
    <%- include layouts/head.ejs%>
</head>
<body>
<%- include layouts/headerControlPanelElements.ejs%>
<main>
    <p id="subTitle">Show Digital Coins</p>
    <table>
        <tr>
            <th>Short Name</th>
            <th>Long Name</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
        <% for(var i=0; i<digitalCoins.length; i++) {%>
        <tr>
            <td><%= digitalCoins[i]["sname"]%></td>
            <td><%= digitalCoins[i]["lname"]%></td>
            <td> <a href="<%= digitalCoins[i]["page"]%>"><%= digitalCoins[i]["page"]%></a></td>
            <td>
                <a href="./editDigitalCoin/<%= digitalCoins[i]["sname"]%>"><div title="Edit" class="pencil"></div></a>
                <a href="./deleteDigitalCoin/<%= digitalCoins[i]["sname"]%>"><div title="Delete" class="delete" onclick="return confirm('Are you sure you want to delete this item?');"></div></a>
            </td>
        </tr>
        <% } %>
    </table>

</main>
    <%- include layouts/footer.ejs%>
</body>
</html>
