<!DOCTYPE html>
<html>
<head>
    <%- include layouts/head.ejs%>
    <script type="text/javascript">
        var tokenID="<%= tokenID %>";
        var deleteApi=function(apiName, digitalName, i){
            var r= confirm("Are you sure you want to delete this api?");
            if(r==true){
                $.ajax({
                    url: "../../api/coins/digital/"+digitalName+"/apiTickers/"+apiName,
                    type: "DELETE",
                    dataType: "json",
                    data :{
                        token : tokenID
                    },
                    success: function(rasp){
                        if(rasp.deleted){
                            $('table tr').eq(i+1)
                                    .children('td')
                                    .animate({ padding: 0 })
                                    .wrapInner('<div />')
                                    .children()
                                    .slideUp(function() { $(this).closest('tr').hide(); });
                        }
                        else{
                            if(rasp.errorMessage){
                                $("#error").text(rasp.errorMessage);
                            }
                        }
                    },
                    error:function(){
                        console.log("error");
                    }
                });
            }else{
                console.log("not true");
            }
        }
    </script>
</head>
<body>
<%- include layouts/headerControlPanel.ejs%>
<main>
    <p id="subTitle">Show Apis</p>
    <p id="error" style="color:red">
    </p>
    <table id="table">
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Digital Coin</th>
            <th>Real Coin</th>
            <th>Request Time</th>
            <th>Actions</th>
        </tr>
        <% for(var i=0; i<apis.length; i++) {%>
        <tr>
            <td><%= apis[i]["sname"]%></td>
            <td> <a href="<%= apis[i]["urlTicker"]%>"><%= apis[i]["urlTicker"]%></a></td>
            <td><%= apis[i]["digsname"]%></td>
            <td><%= apis[i]["realsname"]%></td>
            <td><%= apis[i]["requestTime"]%></td>
            <td>
                <a href="./editApi/<%= apis[i]["sname"]%>"><div title="Edit" class="pencil"></div></a>
                <div title="Delete" class="delete" onclick="deleteApi('<%=apis[i]["sname"]%>','<%=apis[i]["digsname"]%>',<%=i%>)"></div>
            </td>
        </tr>
        <% } %>
    </table>

</main>
<%- include layouts/footer.ejs%>
</body>
</html>
