<!DOCTYPE html>
<html>
<%- include layouts/head.ejs%>
<body>
<%- include layouts/headerControlPanel.ejs%>
<main>
    <p id="subTitle">Edit Digital Coin</p>
    <form id="formAddDigital" action="../editDigitalCoin" autocomplete="on"  method="post">
        <p>
            <label class="labelAddDigital" for="sname">Short Name*:</label>
            <input class="addDigitalInputs"type="text" name="sname" id="sname" value="<%= sname %>" readonly required>
        </p>
        <p>
            <label class="labelAddDigital" for="lname">Long Name:</label>
            <input class="addDigitalInputs" type="text" name="lname" id="lname" value="<%= lname %>">
        <p>
            <label class="labelAddDigital" for="page">URL:</label>
            <input class="addDigitalInputs" type="url" name="page" id="page" value="<%= page %>">
        </p>
        <input id="submit" type="submit" name="submit" value="Submit">
        <p style="color:red">
            <%= error %>
        </p>
    </form>
</main>
<%- include layouts/footer.ejs%>
</body>
</html>
