<!DOCTYPE html>
<html>
<head>
    <%- include layouts/head.ejs %>
    <script type="text/javascript" src="/javascript/jsapi2.js"></script>
</head>
<body>
    <%- include layouts/headerControlPanelElements2.ejs %>
<main>
    <p id="subTitle">Edit Api (Ticker)</p>

    <div id="allAdiAppi">
        <div id="divAddApiForm">
            <form id="formAddApi" action="./addApi" autocomplete="on" method="post">
                <div id="divForm">
                    <div id="labels">
                        <label class="labelAddApi">Name:</label>
                        <label class="labelAddApi">URL:</label>
                        <label class="labelAddApi">Digital Coin:</label>
                        <label class="labelAddApi">Real Reference Coin:</label>
                        <label class="labelAddApi">Request Time(s):</label>
                        <label class="labelAddApi">Last:</label>
                        <label class="labelAddApi">Bid:</label>
                        <label class="labelAddApi">Avg 24h:</label>
                        <label class="labelAddApi">Volume:</label>
                    </div>
                    <div id="inputs">
                        <input class="addApiInputs" type="text" name="sname" value="<%= sname %>">
                        <input class="addApiInputs" type="url" name="urlTicker" value="<%= urlTicker %>">
                        <button name="parse" id="parse">Parse Api</button>
                        <input class="addApiInputs" list="digsname" name="digsname" value="<%= digsname %>">
                        <datalist id="digsname">
                            <% for(var i = 0; i < snames.length; i++) { %>
                            <option value="<%= snames[i].sname %>">
                                <% } %>
                        </datalist>
                        <input class="addApiInputs" list="realsname" name="realsname" value="<%= realsname %>">
                        <datalist id="realsname">
                            <% for(var i = 0; i < symbols.length; i++) { %>
                            <option value="<%= symbols[i].symbol %>">
                                <% } %>
                        </datalist>
                        <input class="addApiInputs" type="number" name="requestTime" value="<%= requestTime %>">
                        <input class="addApiInputs" type="text" name="last" value="<%= last %>">
                        <input class="addApiInputs" type="text" name="bid" value="<%= bid %>">
                        <input class="addApiInputs" type="text" name="avg_24h" value="<%= avg_24h %>">
                        <input class="addApiInputs" type="text" name="volume" value="<%= volume %>">
                    </div>
                </div>
                <div class="clear"></div>
                <input type="submit" id="submit" value="Submit">

                <p style="color:red">
                    <%= error %>
                </p>
            </form>
        </div>
        <div id="jsonDiv">
            <div id="jsonTitle">DROOL JSON Parser</div>
            <div id="jsonParser">
                <pre id="prejSON">
                </pre>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</main>
<%- include layouts/footer.ejs %>
</body>
</html>
